<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to "Home", books_path %>
  <a href="#">Socio Economy</a>
  <a href="#">History economy</a>
  <a href="#">Present economy</a>
  <a href="#">Business</a>
  <a href="#">Fundamental Investing</a>
  <a href="#">Trading</a>
  <%= link_to "New book", new_book_path %>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
